* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px
}
a {
    color: #F9FAF8;
}
nav {
    display: flex;
    justify-content: space-between;
}