* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 20px
}
a {
    color: #F9FAF8;
    text-decoration: none;
}
.top {
    background-color: #1F2937;
}
nav {
    display: flex;
    justify-content: space-between;
}
.container {
    display: flex;
    align-items: center;
}
.container div img {
    width: 500px;
    height: 250px;
    border-radius: 8px;
}